{% extends "main.html" %}
{% block content %}
	<div class="about-container">
		<h1>About This Site</h1>
	</div>
	<div class="about-text">
		<p>"Are They Working" is a webapp designed to change the way you interact with your building's elevators.</p>
		<p>How it works is a simple traffic light process. The page background corresponds to the elevators. The left half of the screen signifies the left elevator and the right half signifies the right elevator. When the color is green, the elevator is running. If the color is red, the elevator is not working.</p>
		<p>In addition to a visual indication, those who sign up with our mailing list will be notified when the working state of the elevators change. "Are They Working" aims is to keep you in the loop of your apartment building to provide a better residential experience.</p>
	</div>
{% endblock %}